.post-article-container,
.article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filter-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem;
    width: 350px;
    height: 100vh;
    z-index: 50;
    background-color: var(--b1);

}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 88px;
    background-color: var(--b1);
    z-index: 30;
}

.close-modal{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1rem;
    margin-right: 1rem;
}

.redirect-container {
    padding: 2rem;
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    padding: 2rem !important;
    z-index: 1000 !important;
    width: 100% !important;
    max-width: 400px !important;
}

.article-card{
    min-width: 380px;
    min-height: 380px;
    max-height: 400px;
    max-width: 400px;
}

/* Content below the navbar, with no overlap */
.error,
.post-article-page,
.signin,
.preview,
.article-container,
.article,
.comments {
    margin-top: 88px; 
    min-height: calc(100vh - 88px); 
    overflow-y: auto; 
}

/* Add flex styles to center content if needed */
.article-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Handle article card */


.loading-container{
    z-index: 600;
}

.clear-search{
    cursor: pointer;
}

.clear-search:hover{
    opacity: 100;
}

.filter-sidebar-buttons{
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;

}

.left-side-nav{
    min-width: 135px;
}

.search-bar{
    display: flex;
    justify-content: space-between;

}

.filter-container{
    margin-right: 5%;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
}

.redirect-container,
.post-article-page,
.article-info,
.article-info p,
.more-pages,
.author-div,
.sort-order-div,
.articles-div,
.error{
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-article-container{
    width: max-content;
    padding:1rem
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw;  
    position: absolute;
    top: 0;
    left: 0;
    z-index: 60;
}

.votes-btn{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.home-btn,
.topics-button,
.post-article-button,
.day-night{
    width: 40px;
}

.topics,
.post-comment{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.btn{
    margin-right: 1rem;
}

.author-div{
    margin-top: 1rem
}

.badge{
    margin-right: 1rem;
    margin-top: 1rem;
}

.author-div,
.dropdown ul li{
    cursor: pointer;
}

.edit-delete,
.article-info{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    margin-right: 10px; 
}

/* .close-popup{
    position: relative;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px; 
  } */

.comment-div{
    margin-bottom: 1rem;
}

.preview div{
    margin-bottom: 1rem;
}