.post-article-container,
.article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filter-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem;
    width: 350px;
    height: 100vh;
    z-index: 50; /* Ensure it's in front */
    background-color: var(--b1);

}


.filter-sidebar-buttons{
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;

}

.filter-container{
    margin-right: 5%;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
}

.post-article-page,
.article-info,
.article-info p,
.more-pages,
.author-div,
.sort-order-div,
.articles-div,
.error{
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-article-container{
    width: max-content;
    padding:1rem
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw;  
    position: absolute;
    top: 0;
    left: 0;
}

.votes-btn{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.home-btn,
.topics-button,
.post-article-button,
.day-night{
    width: 40px;
}

.topics,
.post-comment{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.btn{
    margin-right: 1rem;
}

.author-div{
    margin-top: 1rem
}

.badge{
    margin-right: 1rem;
    margin-top: 1rem;
}

.author-div,
.dropdown ul li{
    cursor: pointer;
}

.edit-delete,
.article-info{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    margin-right: 10px; 
}

/* .close-popup{
    position: relative;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px; 
  } */

.comment-div{
    margin-bottom: 1rem;
}

.preview div{
    margin-bottom: 1rem;
}